@import "tailwindcss";

:root {
  --brand-prim: #0284c7;
  --brand-blue: #1e40af;
  --brand-sky: #0ea5e9;
  --brand-light: #dbeafe;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
}

.animate-vibrate {
  animation: vibrate 0.2s alternate-reverse infinite;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slideInFromLeft {
  animation: slideInFromLeft 0.8s ease-out forwards;
}

/* .gradient-text {
  background: #2980B9;
  background: -webkit-linear-gradient(to right, #5d8ce8, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #3c7ef0, #6DD5FA, #2980B9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
} */

.gradient-text {
  background: #56ccf2; /* fallback */
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Optional hover animation (smooth gradient shift) */
.gradient-text:hover {
  background: -webkit-linear-gradient(to left, #2f80ed, #56ccf2);
  background: linear-gradient(to left, #2f80ed, #56ccf2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.4s ease-in-out;
}
